body {
    padding-top: 60px;
    padding-bottom: 40px;
}

form#item textarea {
    height:300px;
}

.btn-fixed-width {
    width:50px;
}

table tbody td.text-align-right {
    text-align: right;
}

.progress .bar-inverse {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
}